* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}
.container{
    max-width: 960px;
    margin: 0 auto;


}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px;
    margin: 2rem;
    overflow: hidden;

}
.cx-1{
    background-color: hsl(31, 77%, 52%);

}
.cx-2{
    background-color: hsl(184, 100%, 22%);
}
.cx-3{
    background-color: hsl(179, 100%, 13%);
}
.cx{
    padding: 40px;
}
.cx h1{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 30px;
    padding-top: 20px;
}
.cx p{
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.6;
    color:hsla(0, 0%, 100%, 0.75);
    padding-top: 30px;
}
.cx a{
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 13px 27px;
    border-radius: 25px;
    margin-top:60px ;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all .3s ease-in-out;
}
.cx-1 a{
    color:hsl(31, 77%, 52%) ;
}
.cx-2 a{
color: hsl(184, 100%, 22%);
}
.cx-3 a{
color:hsl(179, 100%, 13%) ;
}
.cx a:hover{
color: hsl(0, 0%, 95%) ;  
background-color: transparent;
}
@media only screen and (max-width:768px){
    .wrapper{
        grid-template-columns: 1fr;
    }
} 
@media only screen and (max-width:425px){
    .wrapper{
        margin: 2rem .5rem;
    }
} 
